/*!**************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!../node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].use[3]!./styles/styles.scss ***!
  \**************************************************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Shizuru&display=swap);
/*!******************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!../node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].use[3]!./styles/styles.scss (1) ***!
  \******************************************************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap);
/*!******************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!../node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].use[3]!./styles/styles.scss (2) ***!
  \******************************************************************************************************************************************************************************************/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  color: #333333;
  background-color: #EEEEEE;
}

.main-titile {
  font-size: 65px;
  font-family: "Shizuru", cursive;
  margin: 2rem 0;
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 5rem auto;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 6px;
  background-color: #FFFFFF;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.tg-chart {
  position: relative;
}
.tg-chart > canvas {
  z-index: 2;
}
.tg-chart .tg-chart-slider {
  position: relative;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  z-index: 1;
}
.tg-chart .tg-chart-slider__right, .tg-chart .tg-chart-slider__left {
  -webkit-transition: background 0.22s ease-in-out;
  transition: background 0.22s ease-in-out;
  background: #f5f9fb;
  opacity: 0.8;
  position: absolute;
  top: 0;
  bottom: 0;
}
.tg-chart .tg-chart-slider__left {
  left: 0;
}
.tg-chart .tg-chart-slider__right {
  right: 0;
}
.tg-chart .tg-chart-slider__arrow--left, .tg-chart .tg-chart-slider__arrow--right {
  position: absolute;
  top: 0;
  bottom: 0;
  -webkit-transition: background 0.22s ease-in-out;
  transition: background 0.22s ease-in-out;
  background: #ddeaf3;
  width: 4px;
}
.tg-chart .tg-chart-slider__arrow--left {
  right: 0;
  cursor: w-resize;
}
.tg-chart .tg-chart-slider__arrow--right {
  left: 0;
  cursor: e-resize;
}
.tg-chart .tg-chart-slider__window {
  position: absolute;
  background: transparent;
  top: 0;
  bottom: 0;
}
.tg-chart .tg-chart-tooltip {
  position: absolute;
  display: none;
  max-width: 200px;
  min-width: 120px;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #dfe6eb;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
  background: #fff;
  color: #000;
  overflow: hidden;
  z-index: 3;
  top: 50px;
  left: 100px;
}
.tg-chart .tg-chart-tooltip .tooltip-title {
  text-align: center;
  margin-bottom: 0.5rem;
  white-space: nowrap;
}
.tg-chart .tg-chart-tooltip .tooltip-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.tg-chart .tg-chart-tooltip .tooltip-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.tg-chart .tg-chart-tooltip .tooltip-list-item .name {
  font-size: 0.8rem;
}
.tg-chart .tg-chart-tooltip .tooltip-list-item .value {
  font-size: 1rem;
  font-weight: bold;
}

.tg-chart-checkbox {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  white-space: nowrap;
  margin-right: 1rem;
  border: 1px solid #e6ecf0;
  padding: 0.5rem 0.8rem 0.5rem 0.5rem;
  border-radius: 20px;
  -webkit-transition: border-color, color 0.22s ease-in-out;
  transition: border-color, color 0.22s ease-in-out;
}
.tg-chart-checkbox input {
  position: absolute;
  left: 0;
  top: 0;
  min-width: 1rem;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.tg-chart-checkbox input:checked + label > span {
  border: 9px solid;
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1.3s;
  animation-duration: 1.3s;
}
.tg-chart-checkbox input:checked + label > span:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-animation-name: checkbox-check;
  animation-name: checkbox-check;
  -webkit-animation-duration: 125ms;
  animation-duration: 125ms;
  -webkit-animation-delay: 250ms;
  animation-delay: 250ms;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.23, 1);
  animation-timing-function: cubic-bezier(0.4, 0, 0.23, 1);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.tg-chart-checkbox label {
  position: relative;
  font-weight: normal;
  font-size: 0.8rem;
  text-indent: 2rem;
}
.tg-chart-checkbox label > span {
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid;
  z-index: 0;
  left: -2px;
  top: -2px;
  background-color: transparent;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.23, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.23, 1);
  -webkit-animation-name: pulse2;
  animation-name: pulse2;
  -webkit-animation-duration: 1.3s;
  animation-duration: 1.3s;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 #e6ecf0;
    box-shadow: 0 0 0 0 #e6ecf0;
  }
  50% {
    -webkit-box-shadow: 0 0 0 35px rgba(230, 236, 240, 0);
    box-shadow: 0 0 0 35px rgba(230, 236, 240, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(230, 236, 240, 0);
    box-shadow: 0 0 0 0 rgba(230, 236, 240, 0);
  }
}
@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 #e6ecf0;
    box-shadow: 0 0 0 0 #e6ecf0;
  }
  50% {
    -webkit-box-shadow: 0 0 0 35px rgba(230, 236, 240, 0);
    box-shadow: 0 0 0 35px rgba(230, 236, 240, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(230, 236, 240, 0);
    box-shadow: 0 0 0 0 rgba(230, 236, 240, 0);
  }
}
@-webkit-keyframes pulse2 {
  0% {
    -webkit-box-shadow: 0 0 0 0 #e6ecf0;
    box-shadow: 0 0 0 0 #e6ecf0;
  }
  50% {
    -webkit-box-shadow: 0 0 0 35px rgba(230, 236, 240, 0);
    box-shadow: 0 0 0 35px rgba(230, 236, 240, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(230, 236, 240, 0);
    box-shadow: 0 0 0 0 rgba(230, 236, 240, 0);
  }
}
@keyframes pulse2 {
  0% {
    -webkit-box-shadow: 0 0 0 0 #e6ecf0;
    box-shadow: 0 0 0 0 #e6ecf0;
  }
  50% {
    -webkit-box-shadow: 0 0 0 35px rgba(230, 236, 240, 0);
    box-shadow: 0 0 0 35px rgba(230, 236, 240, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(230, 236, 240, 0);
    box-shadow: 0 0 0 0 rgba(230, 236, 240, 0);
  }
}
@-webkit-keyframes checkbox-check {
  0% {
    border-color: #fff;
  }
  33% {
    width: 4px;
    height: 0;
  }
  100% {
    width: 4px;
    height: 8px;
    border-color: #fff;
  }
}
@keyframes checkbox-check {
  0% {
    border-color: #fff;
  }
  33% {
    width: 4px;
    height: 0;
  }
  100% {
    width: 4px;
    height: 8px;
    border-color: #fff;
  }
}
